.card_front{
  position: absolute;
  left: 10%;
  top: 10%;
  background-repeat: no-repeat;
}
.card_front table{
  margin-left:40px;
  margin-top: -140px;
  width: 80%;
  
}
.card_back{
  position: absolute;
  left: 10%;
  top: 50%;
  background-repeat: no-repeat;
}
.cvv{
  margin-left: -80px;
  color: white;
}
.side_img {
  height: 100%;
}
.user_input{
  margin-left: 50%;
  margin-top: 30%;

}
@media screen and (max-width: 480px) {
  .side_img{
    height: 30%;
    width: 100%;
  }
  .card_front{
    position: absolute;
    margin-top: 200px; 
    width: 20px;
    height: 30px;
    left: 10px;
  }
  .card_front_img
  {
    width: 50%;
  }
  .card_front table
  {
    margin-left:40px;
    width: 30%;
    margin-left:20px;
    margin-right: 20px;
  }
  .card_back{
    position: absolute; 
    width: 20px;
    left: 10px;
    margin-top: -470px;
  }
  .cvv{
    margin-left: 1800%;
    color: white;
    background-color: red;
  }
  .user_input{
    margin-top: -60%;
    margin-left: 10px;
  }
  

  /* container{
    width: 100%;
    margin-top: -800%;
  } */
}